html {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,h2 {
    color: rgb(133, 75, 0);
}

table {
    border: 2px solid gray;
    border-collapse: collapse;
    margin: 20px auto;
    width: 1200px;
    background-color: antiquewhite;
}
th, td {
    border: 2px solid rgb(133, 75, 0);
    padding: 5px;
    color: rgb(75, 43, 1);
}

span {
    background-color: white;
}
